main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

img:hover {
  /* box-shadow: 0 0 2px 1px rgba(97, 96, 102, 0.5); */
  transform: translateX(-5px) translateY(-5px);
}

img {
  border-radius: 20px;
  transition: ease-in-out 0.2s;
}
